.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 9999px !important;
  min-height: 48px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
  font-family: inherit !important;
  font-size: 15px !important;
}
.sidebar {
  border-right: 1px solid var(--twitter-bg);
  /* min-width: 250px; */
  padding-left: 20px;
  padding-right: 20px;
  width: 275px;
}
