.widgets {
  width: 350px;
  padding: 5px 25px;
}
.widgets__searchBar {
  background-color: rgb(235, 238, 240);
  display: flex;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  box-sizing: border-box;
  padding: 12px;
  color: rgb(91, 112, 131);
}
.widgets__searchBar:focus-within {
  background-color: transparent;
  border: 1px solid var(--twitter-color);
}
.widgets__searchBar input {
  background-color: transparent;
  border: none;
  flex: 1;
  margin-left: 12px;
}
.widgets__searchBar input:focus {
  outline: none;
}
.widgets__searchIcon {
  padding-left: 12px;
}

.widgets__trends {
  background-color: rgb(247, 249, 250);
  margin-top: 12px;
  border-radius: 16px;
}
.widgets__trends h2 {
  padding: 12px 16px;
  border-bottom: 1px solid var(--twitter-bg);
}
.widgets__trend {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-bottom: 1px solid var(--twitter-bg);
}
.widgets__trendLocation {
  display: flex;
  justify-content: space-between;
}
.widgets__trendLocationText,
.widgets__trendAmmount {
  font-size: 13px;
  color: #5b7083;
}
.widgets__trendTopic {
  font-size: 15px;
  font-weight: bold;
}
.widgets__showMore {
  text-decoration: none;
}
.widgets__showMore span {
  padding: 16px;
  display: block;
  color: var(--twitter-color);
}
